.DiscountsArea {
  padding: 27px 20px 0 32px;
  display: grid;
  grid-template-columns: 268px;
  justify-content: center;
  gap: 15px 0;
}

@media only screen and (min-width: 769px) {
  .DiscountsArea {
    padding-left: 130px;
    grid-template-columns: 296px 296px;
    gap: 20px 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .DiscountsArea {
    padding-left: 300px;
    grid-template-columns: repeat(3, 347px);
  }
}
