.SideNav {
  position: fixed;
  z-index: 100;
  width: 192px;
  height: 100vh;
  background: var(--sidebar-color);
  transition: transform 0.5s;
}

.SideNav_closed {
  transform: translate(-180px);
}

.SideNav-pop {
  display: flex;
  align-items: center;
  position: absolute;
  right: -48px;
  width: 48px;
  height: 106px;
  padding: 0 0 0 5px;
  background: url('./icons/mobile-union.svg');
}

.LogoContent {
  display: flex;
  align-items: center;
  height: 111px;
  padding: 0 0 0 20px;
}

.LogoContent-title {
  padding: 0 0 0 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.MenuItem {
  height: 64px;
  padding: 20px 0;
}

.MenuItem-title {
  padding: 0 0 0 19px;
  font-size: 16px;
  font-family: var(--open-sans-font);
  font-weight: 600;
}

.MenuItem-title_active {
  border-left: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
