.SideNav {
  position: fixed;
  z-index: 100;
  width: 192px;
  height: 100vh;
  background: var(--sidebar-color);
  /* transition: transform 0.5s; */
  transition: width 0.5s;
}

.SideNav_closed {
  /* transform: translate(-180px); */
  width: 12px;
}

.SideNav-pop {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  right: -48px;
  width: 48px;
  height: 106px;
  padding: 0 0 0 5px;
  background: url('./icons/mobile-union.svg');
}

.LogoContent {
  display: flex;
  align-items: center;
  height: 111px;
  padding: 0 0 0 20px;
  transition: opacity 0.5s, padding 0.5s;
}

.LogoContent_closed {
  opacity: 0;
}

.LogoContent-title {
  padding: 0 0 0 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.MenuItem {
  height: 64px;
  padding: 20px 0;
}

.MenuItem_closed {
  display: none;
}

.MenuItem-title {
  padding: 0 0 0 19px;
  font-size: 16px;
  font-family: var(--open-sans-font);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.MenuItem-title_active {
  border-left: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

@media only screen and (min-width: 769px) {
  .SideNav {
    width: 246px;
  }

  .SideNav_closed {
    width: 104px;
  }

  .LogoContent {
    padding: 0 0 0 40px;
  }

  .LogoContent_closed {
    opacity: 1;
  }

  .LogoContent-title_closed {
    display: none;
  }

  .MenuItem_closed {
    display: block;
  }

  .MenuItem-title {
    padding: 0 0 0 40px;
  }

  .MenuItem-title_active {
    padding: 0 0 0 38px;
  }

  .MenuItem-title_closed .Title-text {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .SideNav {
    width: 240px;
  }

  .LogoContent-title_closed {
    display: block;
  }

  .MenuItem-title_closed .Title-text {
    display: block;
  }

  .SideNav-pop {
    display: none;
  }

  .Header-title {
    text-align: left;
  }

  .LogoContent-title {
    font-size: 16px;
  }
}
