.DiscountCard {
  position: relative;
  width: 268px;
  height: 130px;
  padding: 16px 20px;
  background: var(--header-color) url('./images/wine-mobile.svg') no-repeat 100%;
  border-radius: 10px;
  border: 1px solid red;
}

.DiscountCard-before {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(45deg);
  background: #fafafa;
  border-top: 1px solid red;
  border-right: 1px solid red;
}

.DiscountCard-after {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(45deg);
  background: #fafafa;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
}

.DiscountCard-title {
  font-family: var(--roboto-font);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.DiscountCard-message {
  margin: 0 0 25px;
  font-family: var(--roboto-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
}

.DiscountCart-amount {
  font-family: var(--roboto-font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: #df212d;
}

.DiscountCart-description {
  font-family: var(--roboto-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  opacity: 0.5;
}
