.Header {
  height: 169px;
  padding: 37px 20px 27px 32px;
  background-color: var(--header-color);
}

.Header_scrolled {
  position: sticky;
  top: -63px;
  z-index: 10;
  padding-left: 80px;
}

.Header-title {
  margin: 0 0 21px;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--open-sans-font);
  font-weight: 600;
  opacity: 0.85;
  text-align: end;
}

.ShopSearch {
  position: relative;
}

.ShopSearch-image {
  position: absolute;
  top: 16px;
  left: 16px;
}

.ShopSearch-image_hidden {
  display: none;
}

.ShopSearch-input {
  width: 100%;
  height: 52px;
  padding: 16px 16px 16px 44px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 25px;
}

.ShopSearch-input_scrolled {
  padding-left: 16px;
}

::placeholder {
  font-family: var(--open-sans-font);
  font-weight: 400;
  color: var(--placeholder-color);
}

@media only screen and (min-width: 769px) {
  .Header {
    padding: 31px 26px 27px 130px;
  }

  .Header-title {
    font-size: 28px;
  }

  .Header_scrolled {
    padding-left: 180px;
  }

  ::placeholder {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .Header {
    padding: 40px 60px 40px 300px;
  }
}
