* {
  box-sizing: border-box;
}

html {
  --sidebar-color: #f3f4f9;
  --header-color: #ffffff;
  --secondary-color: #34abe0;
  --open-sans-font: 'Open Sans', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --placeholder-color: rgba(0, 0, 0, 0.45);

  background-color: #fafafa;
}
